@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin btn($hover, $active, $type: color) {
  transition: 0.2s;
  &:hover {
    @if ($type == color) {
      color: $hover;
    } @else {
      background: $hover;
    }
  }
  &:active {
    @if ($type == color) {
      color: $active;
    } @else {
      background: $active;
    }
  }
}
